/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 600px; /* Lebar maksimum kontainer */
  width: calc(100% - 40px); /* Lebar kontainer mengisi layar dengan margin 20px di setiap sisi */
  margin: 0 auto; /* Centering kontainer di tengah layar */
  overflow: hidden; /* Mengatasi masalah overflow jika ada */
}

h1 {
  margin-bottom: 20px;
  color: #333;
}

input[type='number'] {
  padding: 10px;
  width: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #218838;
}

.result {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Empat kolom fleksibel */
  grid-gap: 10px;
}

.result div {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 18px; /* Ukuran font untuk nomor di dalam kotak */
}

.selected-number {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#loading {
  display: none;
  margin-top: 20px;
}

#resultSection {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; /* Jarak antara tabel dan tombol "Mulai Ulang Permainan" */
}

#numberSelection {
  margin-bottom: 20px;
}

#magicSquareContainer {
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 10px;
    width: calc(100% - 20px); /* Lebar kontainer dengan margin 10px di setiap sisi */
  }

  .result {
    grid-template-columns: repeat(2, 1fr); /* Dua kolom untuk layar yang lebih kecil */
  }

  button {
    padding: 8px 16px;
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  input[type='number'] {
    width: 80px;
    font-size: 14px;
  }

  .result div {
    font-size: 14px;
  }

  .selected-number {
    font-size: 20px;
  }
}
