/* CSS untuk layar kecil (smartphone) */
@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  input[type='number'] {
    width: 80px;
    margin-bottom: 10px;
  }

  button {
    padding: 8px 16px;
    margin-top: 8px;
  }

  .result {
    margin-top: 10px;
    grid-template-columns: repeat(2, 40px);
    font-size: 14px;
  }
}

/* CSS untuk layar menengah dan besar (tablet dan desktop) */
@media only screen and (min-width: 601px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }

  h1 {
    font-size: 32px;
  }

  input[type='number'] {
    width: 100px;
    margin-bottom: 20px;
  }

  button {
    padding: 10px 20px;
    margin-top: 10px;
  }

  .result {
    margin-top: 20px;
    grid-template-columns: repeat(4, 50px);
    font-size: 16px;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input[type='number'] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}

.result {
  display: grid;
  grid-gap: 10px;
}

.result div {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.selected-number {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#loading {
  margin-top: 20px;
}

#resultSection {
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#magicSquareContainer {
  margin-top: 20px;
}

#magicImg {
  display: none;
}
